Infrastructure/Storage/ConsoleApplication/Service References/ServiceReference1/DTCTransaction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://IDTCMutexService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://IDTCMutexService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://IDTCMutexService/Imports">
      <xsd:import schemaLocation="http://localhost:6998/DTCTransaction.svc?xsd=xsd0" namespace="http://IDTCMutexService" />
      <xsd:import schemaLocation="http://localhost:6998/DTCTransaction.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDTCMutexService_Acquire_InputMessage">
    <wsdl:part name="parameters" element="tns:Acquire" />
  </wsdl:message>
  <wsdl:message name="IDTCMutexService_Acquire_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcquireResponse" />
  </wsdl:message>
  <wsdl:message name="IDTCMutexService_AcquireEx_InputMessage">
    <wsdl:part name="parameters" element="tns:AcquireEx" />
  </wsdl:message>
  <wsdl:message name="IDTCMutexService_AcquireEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcquireExResponse" />
  </wsdl:message>
  <wsdl:portType name="IDTCMutexService">
    <wsdl:operation name="Acquire">
      <wsdl:input wsaw:Action="http://IDTCMutexService/IDTCMutexService/Acquire" message="tns:IDTCMutexService_Acquire_InputMessage" />
      <wsdl:output wsaw:Action="http://IDTCMutexService/IDTCMutexService/AcquireResponse" message="tns:IDTCMutexService_Acquire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcquireEx">
      <wsdl:input wsaw:Action="http://IDTCMutexService/IDTCMutexService/AcquireEx" message="tns:IDTCMutexService_AcquireEx_InputMessage" />
      <wsdl:output wsaw:Action="http://IDTCMutexService/IDTCMutexService/AcquireExResponse" message="tns:IDTCMutexService_AcquireEx_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>