Infrastructure/Storage/ConsoleApplication/Service References/ServiceReference1/DTCTransaction.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://IDTCMutexService" elementFormDefault="qualified" targetNamespace="http://IDTCMutexService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6998/DTCTransaction.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Acquire">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcquireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcquireResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcquireEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="mutexTimeout" type="q1:duration" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="acquireTimeout" type="q2:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcquireExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcquireExResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>